@{
    ViewBag.Title = "About";
}

<h2 id="pageTitle">About Us</h2>

<div>
    <img id="shaglanti" src="~/Content/shaglanti.png" style="width:0%">
    <img id="haviv" src="~/Content/haviv.png" style="width:0%;">
    <img id="genish" src="~/Content/genish.png" style="width:0%;">
</div>

<div class="row" id="about">
    <div>
        <button class="btn btn-danger" style="font-size:15px; margin-left:1em" onclick="printShir()">How Shir Galanti Looks Like?</button>
        <br />
        <canvas id="shaglantiCanvas" width="311" height="547" style="width:60%">
            Your browser does not support the HTML5 canvas tag :/
        </canvas>
    </div>
    <div>
        <button class="btn btn-primary" style="font-size:15px; margin-left:1em" onclick="printHaviv()">How Adi Haviv Looks Like?</button>
        <br />
        <canvas id="havivCanvas" width="311" height="547" style="width:60%">
            Your browser does not support the HTML5 canvas tag :/
        </canvas>
    </div>
    <div>
        <button class="btn btn-warning" style="font-size:15px; margin-left:1em" onclick="printGenish()">How Bar Genish Looks Like?</button>
        <br />
        <canvas id="genishCanvas" width="311" height="547" style="width:60%">
            Your browser does not support the HTML5 canvas tag :/
        </canvas>
    </div>

</div>


<script>
    function printShir() {
        var c = document.getElementById("shaglantiCanvas");
        var ctx = c.getContext("2d");
        var img = document.getElementById("shaglanti");
        ctx.drawImage(shaglanti, 10, 10);
    }

</script>

<script>
    function printHaviv() {
        var c = document.getElementById("havivCanvas");
        var ctx = c.getContext("2d");
        var img = document.getElementById("haviv");
        ctx.drawImage(haviv, 10, 10);
    }
</script>

<script>
    function printGenish() {
        var c = document.getElementById("genishCanvas");
        var ctx = c.getContext("2d");
        var img = document.getElementById("genish");
        ctx.drawImage(genish, 10, 10);
    }
</script>
