@{
    ViewBag.Title = "About";
}

<h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:bold;">About Us</h2>


<h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    And all this time, i was alone.. all this time!! <br/>
    oh oh oh <br/>
    Every day anew
</h3>

<div>
    <img src="~/Content/shaglanti.png" width="15%" />
    <img src="~/Content/haviv.png" width="15%" />
    <img src="~/Content/genish.png" width="15%"/>
</div>



