@{
    ViewBag.Title = "About";
}

<h1>About</h1>


<h3>And all this time, i was alone.. all this time!!</h3>
<h3>oh oh oh</h3>
<h3>Every day anew </h3>

<div>
    <img src="~/Content/shaglanti.png" />
    <img src="~/Content/haviv.png" />
    <img src="~/Content/genish.png" />
</div>



