@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/Home.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<aside class="genres-blob" style="width:800px; margin:auto">
    <div class="row">
        <div class="col-md-2">
            <a class="w3-button w3-round-large w3-border w3-border-white w3-hover-indigo" style="color:white;width:100px; margin-top:20px" href="https://localhost:44300/Movies/MoviesByGenre?genreID=1">Comedy</a>
        </div>
        <div class="col-md-2">
            <a class="w3-button w3-round-large w3-border w3-border-white w3-hover-light-blue" style="color:white;width:100px; margin-top:20px" href="https://localhost:44300/Movies/MoviesByGenre?genreID=2">Romance</a>
        </div>
        <div class="col-md-2">
            <a class="w3-button w3-round-large w3-border w3-border-white w3-hover-purple" style="color:white;width:100px; margin-top:20px" href="https://localhost:44300/Movies/MoviesByGenre?genreID=3">Drama</a>
        </div>
        <div class="col-md-2">
            <a class="w3-button w3-round-large w3-border w3-border-white w3-hover-pink" style="color:white;width:100px; margin-top:20px" href="https://localhost:44300/Movies/MoviesByGenre?genreID=4">Action</a>
        </div>
        <div class="col-md-2">
            <a class="w3-button w3-round-large w3-border w3-border-white w3-hover-orange" style="color:white;width:100px; margin-top:20px" href="https://localhost:44300/Movies/MoviesByGenre?genreID=5">Horror</a>
        </div>
        <div class="col-md-2">
            <a class="w3-button w3-round-large w3-border w3-border-white w3-hover-yellow" style="color:white;width:100px; margin-top:20px" href="https://localhost:44300/Movies/MoviesByGenre?genreID=6">Sci-Fi</a>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <a class="w3-button w3-round-large w3-border w3-border-white w3-hover-red" style="color:white;width:100px; margin-top:10px" href="https://localhost:44300/Movies/MoviesByGenre?genreID=7">Kids</a>
        </div>
        <div class="col-md-2">
            <a class="w3-button w3-round-large w3-border w3-border-white w3-hover-green" style="color:white;width:100px; margin-top:10px" href="https://localhost:44300/Movies/MoviesByGenre?genreID=8">Family</a>
        </div>
        <div class="col-md-2">
            <a class="w3-button w3-round-large w3-border w3-border-white w3-hover-cyne" style="color:white;width:100px; margin-top:10px" href="https://localhost:44300/Movies/MoviesByGenre?genreID=9">Biography</a>
        </div>
        <div class="col-md-2">
            <a class="w3-button w3-round-large w3-border w3-border-white w3-hover-teal" style="color:white;width:100px; margin-top:10px" href="https://localhost:44300/Movies/MoviesByGenre?genreID=11">Thriller</a>
        </div>
        <div class="col-md-2">
            <a class="w3-button w3-round-large w3-border w3-border-white w3-hover-grey" style="color:white;width:100px; margin-top:10px" href="https://localhost:44300/Movies/MoviesByGenre?genreID=12">Adventure</a>
        </div>
        <div class="col-md-2">
            <a class="w3-button w3-round-large w3-border w3-border-white w3-hover-pale-red" style="color:white;width:100px; margin-top:10px" href="https://localhost:44300/Movies/MoviesByGenre?genreID=10">Adult</a>
        </div>
    </div>
</aside>

<button class="genre-clickr" style="width:400px;">Which Genre of Movies Do You Like?</button>
<br />
<script src="//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    $('.genres-blob').hide();

    $('.genre-clickr').click(function () {
        $('.genres-blob').slideToggle();
    });
</script>


<div class="w3-content w3-display-container">
    <img class="mySlides" src="~/Content/inception.jpg" style="width:60%; margin:auto">
    <img class="mySlides" src="~/Content/fifty_shades.jpg" style="width:60%; margin:auto">
    <img class="mySlides" src="~/Content/forrest_gump.jpg" style="width:60%; margin:auto">
    <img class="mySlides" src="~/Content/frozen.jpg" style="width:60%; margin:auto">
    <img class="mySlides" src="~/Content/gladiator.jpg" style="width:60%; margin:auto">
    <img class="mySlides" src="~/Content/hangover.jpg" style="width:60%; margin:auto">
    <img class="mySlides" src="~/Content/harry_potter.jpg" style="width:60%; margin:auto">
    <img class="mySlides" src="~/Content/scream.jpg" style="width:60%; margin:auto">
    <img class="mySlides" src="~/Content/the_notebook.jpg" style="width:60%; margin:auto">
    <img class="mySlides" src="~/Content/the_wolf_of_wallstreet.jpg" style="width:60%; margin:auto">
    <img class="mySlides" src="~/Content/netfleeks2.png" style="width:60%; margin:auto">
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4000); // Change image every 4 seconds
    }
</script>

<br />

@if (User.Identity.IsAuthenticated)
{
    <a id="learningBtn" href="javascript:void(0)" class="recommend btn btn-primary">Not sure what to watch? Let us help.</a>
    <span id="machineLearning" class="recommendLoading"></span>
}

<script type="text/javascript">
	$(function () {

		// removal
		$('.selectedfilms').on( "click", ".film .remove", function () {
			$(this).parents('tr:first').remove();
		});

		// load films data
		$.ajax({
			type: "GET",async: true,dataType: "json",
			url: '@Url.Action("GetMovies", "Recommender")',
			success: function (data) {
				window.moviesData = data;
				window.movieIdToData = {};
				window.movieTitleToData = {};
				var movieTitles = [];
				for (var i = 0; i < window.moviesData.length; i++) {
					var movieData = window.moviesData[i];
					//console.log(movieData);
					movieIdToData[movieData.movieId.toString()] = movieData;
					movieTitleToData[movieData.title] = movieData;
					movieTitles.push(movieData.title);
				}

				$('.selectfilm').typeahead({ source: movieTitles });

				var addFilmByTitle = function (val) {
					if (movieTitleToData[val]) {
						var movieData = movieTitleToData[val];
						var $tr = $('<tr class="film"><td><span class="title"></span><a href="javascript:void(0)" class="pull-right remove"><span class="glyphicon glyphicon-remove"></span></a></td></tr>');
						$tr.attr('data-film-id', movieData.movieId)
						var $title = $tr.find('.title');
						$title.text(movieData.title);

						$tr.insertBefore($('.selectedfilms tr.selector'));
					}
				};

				// add several films by default
				addFilmByTitle("Terminator 2: Judgment Day (1991)");
				addFilmByTitle("Aliens (1986)");

				$('.selectfilm').change(function () {
					var val = $.trim($(this).val());
					addFilmByTitle(val);
					$(this).val('');
				});
			}
		});

		$('a.recommend').click(function () {

			var $btn = $(this);
			if ($btn.attr('disabled')=='disabled') return;
            $btn.attr('disabled', 'disabled');
            $btn.hide('fast');
			$('.recommendLoading').html('Loading MovieLens ratings...').show('slow');

            
			$.ajax({
				type: "POST", async: true, url: '@Url.Action("GetRecommendedFilms","Recommender")',
				success: function (res) {
                    $('.recommendLoading').html('You should watch ' + window.movieIdToData[res.film_id.toString()].title);
                    $('.recommendLoading').show('fast');
				}
			});


		});



	});
</script>
